body{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
}
#calculator-body{
    width: 425px;
    height: 525px;
    margin-top: 150px;
    border-radius: 8px;
    background-color: rgb(62, 53, 71);
    padding: 10px;
}
.rows{
display: flex;
justify-content: space-around;
flex: 1;

width: 420px;
height: 85px;
gap: 8px;
}
#display{
    display: flex;
    align-items: center;
    background-color: rgba(190, 194, 197, 0.918);
    height: 100px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 25px;   
}
#equal-sign{
    font-size: larger;
    font-weight: 700;
    height: 75px;
    width: 110px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(76, 211, 132);
}
#reset{
    font-size: 25px;
    height: 75px;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(90, 76, 221);
    width: 110px;
}
#percent{
    font-size: 25px;
    height: 75px;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(90, 76, 221);
    width: 110px;
}
#period{
    font-size: larger;
    font-weight: 700;
    height: 75px;
    width: 110px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(76, 211, 132);
}
#plus-minus{
    font-size: 25px;
    height: 75px;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(90, 76, 221);
    width: 110px;
}
#bottom-row{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    width: 420px;
    height: 85px;
    gap: 8px;
}
#bottom-row .num-button{
    font-size: 50px;
    height: 75px;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(90, 76, 221);
    width: 200px;
}
.operand{
    font-size: larger;
    font-weight: 700;
    height: 75px;
    width: 110px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(76, 211, 132);
}

.num-button{
    font-size: 25px;
    height: 75px;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(90, 76, 221);
    width: 110px;
}

